body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(75, 126, 255);
  }
  
  h1 {
    color: #333;
  }
  
  form {
    max-width: 400px;
    margin: 20px 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: rgb(0, 230, 157);
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: solid rgb(0, 255, 242) 3px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 14px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }